[Unit]
Description=Nix Daemon

After=nix.mount
BindsTo=nix.mount

RequiresMountsFor=/nix/store
RequiresMountsFor=/nix/var
RequiresMountsFor=/nix/var/nix/db
ConditionPathIsReadWrite=/nix/var/nix/daemon-socket

[Service]
Environment=NIX_SSL_CERT_FILE=/etc/ssl/certs/ca-bundle.crt
ExecStart=/nix/var/nix/profiles/default/bin/nix daemon
KillMode=process
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
