[Unit]
Description=Nix Daemon

After=nix.mount
BindsTo=nix.mount

RequiresMountsFor=/nix

[Service]
Environment=NIX_SSL_CERT_FILE=/etc/ssl/certs/ca-bundle.crt
ExecStartPre=/usr/sbin/restorecon -RF /nix
ExecStart=/nix/var/nix/profiles/default/bin/nix daemon
KillMode=process
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
